<div class="container">
    <div class="row" >
        <div class="col-md" >
            <h1>FrontEnd Development</h1>
            <img src="/images/0001.jpeg" alt="" height="500px" width="700px">
        </div>
        <div class="col-md">
            <h1>DataStructure And Algorithms</h1>
            <img src="/images/58254946.jpeg" alt="" height="500px" width="700px">
        </div>
        <div class="col-md">
            <h1>Python(Basic) Hackerrank</h1>
            <img src="/images/python.png" alt="" height="500px" width="700px">
        </div>
    </div>
</div>