<div class="container">
    <div class="row">
        <h1>Email : roshandalami0@gmail.com</h1>
        <h2>Phone : +91 8861148869 / +977 9804470949 </h2>
        <form action="">
            <h1 style="text-decoration: underline;">Send Email</h1>
            <textarea name="email" id="email" cols="30" rows="10">

            </textarea>
        </form>
    </div>
</div>