<style>
    .main-text{
        display: inline;
        font-size: 75px;
        margin-left: 200px;
    }
    .large{
        color: red;
        font-size: 150px;
        font-family: 'Fascinate', cursive;
        font-family: 'Lobster', cursive;
    }
    .small{
        text-decoration: underline;
    }
    img{
        display: inline;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md">
            <h1 class="main-text"><span class="large">I</span> am  </h1>
            <h1 class="second-text"><span class="large">Web</span><span class="small">Developer</span></h1>
        </div>
        <div class="col-md">
            <img src="/images/site.png" alt="" height="500px" width="500px" style="float:right">
        </div>
    </div>
</div>




