<style>
    .row{
        border-radius: 50px solid white;
    }

</style>
<div class="container ">
    <div class="row">
    <h1>Title : FIFA Players Management System</h1>
    <p>Description: By using above system , We can manage a player</p>
    <h3>Features</h3>
    <ul>
        <li>Can Add players</li>
        <li>Can Edit players details</li>
        <li>Can Delete players </li>
    </ul>


    </div>
</div>
